# This template is a low-dependency template. 
# By default there is no requirements added here.
# Add the requirements you need to this file.
# or run `make init` to create this file automatically based on the template.
# You can also run `make switch-to-poetry` to use the poetry package manager.

duckdb>=1.0.0
pydantic>=2.7.0
fsrs>=3.0.0
typer>=0.12.0
rich>=13.0.0
ruamel.yaml>=0.17.0
PyYAML>=6.0.0
bleach>=6.0.0
tomli>=2.0.1; python_version < "3.11"
